/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900

/ */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

:root {
  /* Primary */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --moderateCyan: hsl(168, 34%, 41%);

  /* Neutral */
  --darkDesatBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

nav {
  padding: 1rem 1rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

a {
    text-decoration: none;
    color: var(--white);
}

body{ font-family: 'Barlow', sans-serif; }

section { min-height: 100vh; }

header {
    background-image: url('./images/desktop/image-header.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1.5rem;
}


.navContainer {
    padding: 0px 1rem;
    list-style-type: none;
    width: 35rem;
    /* ^ */
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.mainHeader {
  font-family: 'Fraunces', sans-serif;
  /* margin: 2rem; */
  padding: 1rem;
  font-size: 1.8rem;
  letter-spacing: 7px;
  color: var(--white);
}

#heading {
  margin-bottom: 2rem;
  padding: 2rem;
}

#contact-btn {
  width: 130px;
  height: 60px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-family: 'Fraunces';
}


.imgCont, .innerContainer {
  width: 50%;
  max-width: 100%;
}

.imgCont > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;

  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .row { flex-direction: column; }
  .imgCont, .innerContainer {
    width: 100%;
    max-width: 100%;
  } 
  
  .imgCont {
    order: -1;
  }
  .navContainer {
    display: none;
  }
  
  #heading {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .mainHeader { font-size: 1rem;}
}