/* 
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Barlow](https://fonts.google.com/specimen/Barlow)
- Weights: 600
- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700, 900

/ */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --moderateCyan: hsl(168, 34%, 41%);

  /* Neutral */
  --darkDesatBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

nav {
  padding: 2rem 2rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
    text-decoration: none;
    color: var(--white);
}
body {
    font-family: 'Barlow', sans-serif;
}

section { 
    min-height: 100vh;
}
header {
    background-image: url('./images/desktop/image-header.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
    padding: 5rem 5rem;
    
}
.navContainer {
    padding: 1rem;
    list-style-type: none;
    width: 35rem;
    display: flex;
    justify-content: space-around;
    
}