@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --softRed: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkCyan: hsl(167, 40%, 24%);
  --darkBlue: hsl(198, 62%, 26%);
  --moderateCyan: hsl(167, 41%, 68%);

  /* Neutral */
  --darkDesatBlue: hsl(212, 27%, 19%);
  --veryDarkGrayishBlue: hsl(213, 9%, 39%);
  --darkGrayishBlue: hsl(232, 10%, 55%);
  --grayishBlue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

a { text-decoration: none; }

h2 {
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 1rem;
}
.barlowFont {
  font-family: "Barlow", sans-serif;
}
.frauncesFont {
  font-family: "Fraunces", sans-serif;
}

.darkGrayishBlue { color: var(--darkGrayishBlue); }
.darkDesatBlue { color: var(--darkDesatBlue); }
.veryDarkGrayishBlue { color: var(--veryDarkGrayishBlue); }
.grayishBlue { color: var(--grayishBlue); }
.cursor { cursor: pointer; }

section {
  min-height: 100vh;
}
section a {
  text-decoration: none;
  color: var(--darkDesatBlue);
}
header {
  background-image: url("./images/desktop/image-header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1.5rem;
}

.navContainer {
  padding: 0px 1rem;
  list-style-type: none;
  width: 35rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navContainer a, .ulFlexList a:hover {
  color: var(--white);
}
.logoImg {
  width: 150px;
}
.mainHeader {
  margin: 2rem 1.5rem 0px;
  padding: 1rem;
  font-size: 1.8rem;
  letter-spacing: 7px;
  color: var(--white);
}

#heading {
  margin-bottom: 2rem;
  padding: 2rem;
}

#contact-btn {
  width: 120px;
  height: 50px;
  border-radius: 30px;
  border: none;
  transition: .4s ease-out;
}

#contact-btn:hover{
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--white);
}

/* two column layout */
.imgCont,
.innerContainer {
  width: 50%;
  max-width: 100%;
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
}
.innerContainer > div {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.innerContainer > div a {
 align-self:flex-start;
}
.imgCont > img {
  width: 100%;
  max-width: 100%;
  height:100%;
  vertical-align: bottom;
}

.learnMoreLinks1 {
  border-bottom: 5px solid hsl(50, 100%, 85%);
  font-weight: 900;
  transition: .2s ease-in;
}
.learnMoreLinks1:hover {
  border-bottom: 8px solid var(--yellow);
}

.learnMoreLinks2 {
  border-bottom: 5px solid hsl(8, 100%, 92%);
  transition: .2s ease-in;
  font-weight: 900;
}
.learnMoreLinks2:hover {
  border-bottom: 8px solid var(--softRed);
}
.row {
  display: flex;
  flex-direction: row;
}

#imgContCherries, #imgContOrange { 
  position: relative;
  text-align: center;
 
}
.textOnImage {
  text-align: center;
  position: absolute;
  bottom: 15%;
  height: 8.3rem;
  width: 100%;
  z-index: 1;
  padding: 1rem 4rem;
}
#hamburgerMenu { display: none; }

#testimonials {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.testimonial-cards {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.lineHeight {
  line-height: 1.7rem;
}
.card {
  padding: 1rem;
  height: 26rem;
  max-width: 23rem;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.card > div {
  text-align: center;
}

#rowImages {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
}

#rowImages div > img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
}

.leftHalf, .rightHalf {
  display: flex;
  flex-direction: row;
  width: 50%;
}

footer {
  padding: 1rem;
  min-height: 45vh;
  background-color: var(--moderateCyan);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.listTypeNone { list-style-type: none; }
.ulFlexList  {
  min-width: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ulFlexList a {
  color: #2e6f5d;
}

footer div:nth-child(3) .ulFlexList {
  min-width: 15rem;
  justify-content: space-evenly;
}

/* .ulFlexList li a img:hover {
  background-color: white;

} */
@media screen and (max-width: 768px) {
  .testimonial-cards { flex-direction: column; }
  .row {
    flex-direction: column;
  }
  .imgCont,
  .innerContainer {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .innerContainer {
    padding: 3rem 1rem;
  }
  .imgCont {
    order: -1;
  }
  .navContainer {
    display: none;
  }

  #heading {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .mainHeader {
    font-size: 1.2rem;
    margin: 1rem;
  }
  .innerContainer > div a { align-self: center; }
  #rowImages { flex-direction: column; }
  .leftHalf, .rightHalf { width: 100%;}
}

@media screen and (max-width: 480px) {
  .mainHeader,
  #heading {
    margin: 0.5rem;
    padding: 0.5rem;
  }
  nav { padding: 0.775rem; }
  .innerContainer { padding: 2rem 1rem; }
  .logoImg { width: 125px; }
  .testimonial-header h3 { white-space: nowrap; }
}
